

  

<div class="formulario-container">
    <h2>Realizar Transacción</h2>
    <form id="transactionForm" (ngSubmit)="submitTransaction(transactionForm.value)" #transactionForm="ngForm">
        <div class="form-group">
            <label for="ammount">Cantidad</label>
            <input type="number" id="ammount" name="ammount" [(ngModel)]="transaction.ammount" required>
        </div>
        <div class="form-group">
            <label for="date">Fecha</label>
            <input type="date" id="date" name="date" [(ngModel)]="transaction.date" required>
        </div>
        <div class="form-group">
            <label for="currency">Divisa</label>
            <select id="currency" name="currency" [(ngModel)]="transaction.currency" required>
                <option value="USD">USD</option>
                <option value="GTQ">GTQ</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
            </select>
        </div>
        <div class="form-group">
            <label for="account_from">Cuenta de Usuario (Desde)</label>
            <select id="account_from" name="account_from" [(ngModel)]="transaction.account_from" required>
                <option *ngFor="let account of user?.accounts" [value]="account?._id">{{account?._id + " " + account?.account_type}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="account_to">Número de Cuenta a Enviar</label>
            <input type="text" id="account_to" name="account_to" [(ngModel)]="transaction.account_to" required>
        </div>
        <button type="submit">Enviar Transacción</button>
    </form>


    <!-- Sección para mostrar transacciones realizadas -->
    <div class="transacciones-container">
      <!-- Sección para mostrar transacciones realizadas -->
      <section *ngIf="transactionsMade.length > 0" class="transacciones-realizadas">
        <h3>Transacciones Realizadas</h3>
        <ul class="transacciones-lista">
          <li *ngFor="let transaction of transactionsMade" class="transaccion-item">
            <span class="transaccion-fecha">{{ transaction.date }}</span>
            <span class="transaccion-monto">{{ transaction.ammount | currency:transaction.currency }}</span>
            <span class="transaccion-destino">Para: {{ transaction.account_to }}</span>
          </li>
        </ul>
      </section>
      <p *ngIf="transactionsMade.length === 0">No has realizado transacciones.</p>
      
      <!-- Sección para mostrar transacciones recibidas -->
      <section *ngIf="transactionsReceived.length > 0" class="transacciones-recibidas">
        <h3>Transacciones Recibidas</h3>
        <ul class="transacciones-lista">
          <li *ngFor="let transaction of transactionsReceived" class="transaccion-item">
            <span class="transaccion-fecha">{{ transaction.date }}</span>
            <span class="transaccion-monto">{{ transaction.ammount | currency:transaction.currency }}</span>
            <span class="transaccion-origen">De: {{ transaction.account_from }}</span>
          </li>
        </ul>
      </section>
      <p *ngIf="transactionsReceived.length === 0">No has recibido transacciones.</p>
    </div>
    
  </div>
  