<div class="dashboard-container">
    <h1>Bienvenido, {{(user && user.names && user.lastnames) ? (user.names + " " + user.lastnames) : ''}}</h1>
    <div class="saldo-recuadro">
        Credit Score: {{ user?.credit_score }}
        <img src="assets/cerdoverde.png" alt="Cerdito Verde" class="imagen-cerdoverde">
    </div>
    <!-- Contenedor para los botones de transacciones -->
    <div class="transacciones-container">
    <button (click)="setView(1)" *ngIf="view!=1">Transacciones</button>
    
    <button (click)="setView(2)" *ngIf="view!=2">Préstamos</button>
    <button (click)="setView(0)" *ngIf="view!=0">Cuentas de banco</button>
    <button (click)="setView(3)" *ngIf="view!=3">Abrir cuenta</button>
    <button (click)="setView(4)" *ngIf="view!=4">Configuraciones de Usuario</button>
    </div>
<div class="dashboard-menu">
    <button>Cerrar Sesión</button>
</div>
<div class="panel-contens">
  <app-accounts [accounts]="user?.accounts" [view]="view" *ngIf="view==0 || view==3"> ></app-accounts>
</div>

</div>
