


<div class="dashboard-container">


      
   
    <h1>Bienvenido, {{(user && user.names && user.lastnames) ? (user.names + " " + user.lastnames) : ''}}</h1>

    <div class="header-image">
        <img src="../../assets/gato.jpg" alt="Texto alternativo de la imagen">

    </div>
    <div class="saldo-recuadro">
        Credit Score: {{ user?.credit_score }}
        <img src="assets/cerdoverde.png" alt="Cerdito Verde" class="imagen-cerdoverde">
    </div>
    <!-- Contenedor para los botones de transacciones -->
    <div class="transacciones-container">
        <!-- Contenedor para los botones con iconos -->

  
  <div class="button-with-icon">
    <div class="button-with-icon">
    <img src="../../assets/compras.png" alt="Icon description" class="button-icon">
    <button (click)="setView(1)" *ngIf="view!=1">Transacciones</button>
</div>
    <div class="button-with-icon">
        <img src="../../assets/prestar.jpg" alt="Icon description" class="button-icon">
    <button (click)="setView(2)" *ngIf="view!=2">Préstamos</button>
</div>
    <div class="button-with-icon">
    
    <button (click)="setView(0)" *ngIf="view!=0">Cuentas de banco</button>
</div>
    <div class="button-with-icon">
        <img src="../../assets/abrir.jpg" alt="Icon description" class="button-icon">
    <button (click)="setView(3)" *ngIf="view!=3">Abrir cuenta</button>
</div>
    <div class="button-with-icon">
        <img src="../../assets/editar.jpg" alt="Icon description" class="button-icon">
    <button (click)="setView(4)" *ngIf="view!=4">Configuraciones de Usuario</button>
</div>



    </div>
    <div class="button-with-icon admin-button" *ngIf="user?.type === 'admin'">
        <img src="../../assets/admin.jpg" alt="Icono de administrador" class="button-icon">
        <button (click)="adminAction()">Panel de Administración</button>
      </div>
      
<div class="dashboard-menu">
    <button>Cerrar Sesión</button>
</div>
</div>
<div class="panel-contens">
  <app-accounts [accounts]="user?.accounts" [view]="view" *ngIf="view==0 || view==3"> ></app-accounts>
</div>



</div>
