<!-- charts.component.html -->
<div class="charts-container">

    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
          width="640" height="480"
          src="https://charts.mongodb.com/charts-project-0-dacrr/embed/charts?id=65ddf062-77cf-48ad-87f9-b3d9a4d24442&maxDataAge=3600&theme=light&autoRefresh=true">
  </iframe>
    <iframe style="background: #FFFFFF; border: none; border-radius: 2px; box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="640" height="480"
            src="https://charts.mongodb.com/charts-project-0-dacrr/embed/charts?id=65ddf0e4-d109-41e9-8d4d-19f06a80dfd9&maxDataAge=3600&theme=light&autoRefresh=true">
    </iframe>
    <iframe style="background: #FFFFFF; border: none; border-radius: 2px; box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="640" height="480"
            src="https://charts.mongodb.com/charts-project-0-dacrr/embed/charts?id=65ddf249-3845-4e1b-87b4-c8d612676f34&maxDataAge=3600&theme=light&autoRefresh=true">
    </iframe>
    <iframe style="background: #FFFFFF; border: none; border-radius: 2px; box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="640" height="480"
            src="https://charts.mongodb.com/charts-project-0-dacrr/embed/charts?id=65ddfa52-cae6-42fc-8142-271c7a326388&maxDataAge=3600&theme=light&autoRefresh=true">
    </iframe>
  </div>
  